@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f1f1f1;
}

html {
  font-size: 4vw;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  text-align: center;
}
.logo--smallwhite {
  color: #fdfdfd;
  font-size: 5vw;
  text-align: left;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: normal;
}

.lieu {
  text-align: center;
  font-weight: bold;
  color: #424242;
  font-size: 1rem;
}

.titre1 {
  font-size: 1.5rem;
  font-weight: bolder;
}
.titre1__principal {
  text-align: center;
}

.titre1__description {
  font-size: 1.2rem;
  font-weight: 100;
  color: #424242;
  text-align: center;
}

.btn {
  font-size: 1.1rem;
  color: #fdfdfd;
}

.fonctionnement__txt {
  font-size: 4vw;
  font-weight: bold;
}

.restaurant__info__nom {
  font-size: 5vw;
  font-weight: bold;
}

.restaurant__info__lieu {
  font-size: 5vw;
  font-weight: 100;
}

footer p, footer i {
  color: #f1f1f1;
  font-size: 3vw;
}

.footer__proposer, .footer__devenir {
  font-weight: bold;
}

.entrees__titre, .plats__titre, .desserts__titre {
  display: inline-block;
  text-transform: uppercase;
  border-style: none none solid none;
  border-color: #99E2D0;
  font-size: 1.1rem;
  padding-bottom: 1vw;
  margin-top: 8vw;
}

.plat__nom {
  font-size: 1.2rem;
  font-weight: bolder;
}

.plat__prix {
  font-weight: bolder;
}

.btn {
  width: 60%;
  align-items: center;
  margin: 3vw 20% 10vw 20%;
  padding: 3.8vw 3%;
  border-radius: 10vw;
  border-style: none;
  box-shadow: 1px 1vw 1vw #cacaca;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}

.fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding: 4.5vw 5%;
  margin: 3vw 3% 3vw 7%;
  border-radius: 5vw;
  box-shadow: 1px 1vw 1vw #dfdede;
  background-color: #fdfdfd;
}
.fonctionnement--beige {
  background-color: #f1f1f1;
}
.fonctionnement--violet {
  background-color: #f2eafb;
}
.fonctionnement--violet i {
  color: #9356DC;
}
.fonctionnement__numero {
  color: white;
  font-size: 3.5vw;
  background-color: #9356DC;
  padding: 3% 4.5%;
  clip-path: circle(40% at 50% 50%);
  text-align: center;
  margin: 0 4%;
  position: relative;
  left: -15.5%;
}
.fonctionnement i {
  font-size: 5vw;
  color: #757575;
  margin: 0 4%;
  position: relative;
  left: -15.5%;
}
.fonctionnement__txt {
  margin: 0 0 0 4%;
  position: relative;
  left: -15.5%;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 3vw 0;
  border-radius: 4vw;
  box-shadow: 1px 1vw 1vw #cacaca;
  background-color: #fdfdfd;
}
.restaurant__image {
  object-fit: cover;
  object-position: center;
  border-radius: 4vw 4vw 0 0;
  height: 40vw;
}
.restaurant__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3vw 5%;
}

.plat {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 4vw 0;
  padding: 3vw 3%;
  cursor: pointer;
  background-color: #fdfdfd;
  border-radius: 4vw;
  box-shadow: 1px 1vw 1vw #dadada;
  animation: apparition 0.8s ease-out 0.5s backwards;
}
.plat--1 {
  animation-delay: 0.1s;
}
.plat--2 {
  animation-delay: 0.2s;
}
.plat--3 {
  animation-delay: 0.3s;
}
.plat--4 {
  animation-delay: 0.4s;
}
.plat--5 {
  animation-delay: 0.5s;
}
.plat--6 {
  animation-delay: 0.6s;
}
.plat--7 {
  animation-delay: 0.7s;
}
.plat--8 {
  animation-delay: 0.8s;
}
.plat--9 {
  animation-delay: 0.9s;
}
.plat__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plat__prix {
  padding-right: 4%;
}

header {
  text-align: center;
  margin: 0;
  padding: 3.5vw 0 1.5vw 0;
  background-color: #fdfdfd;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2b2b2b;
  padding: 5%;
}
footer i {
  margin-right: 2%;
  width: 5%;
}

.logo--smallwhite {
  margin-bottom: 3vw;
}

.footer__proposer, .footer__devenir, .footer__contact {
  display: flex;
  margin: 1vw 0;
}

.footer__mentions {
  margin: 1.5vw 0 1vw 0;
}

.lieu {
  padding: 4vw;
  background-color: #f1f1f1;
}

.presentation {
  background-color: #fdfdfd;
  padding-bottom: 6vw;
}

.titre1__principal {
  padding: 5vw 15% 2vw 15%;
}

.titre1__description {
  margin: 1.3vw 7% 4vw 7%;
}

.fonctionnements__bloc {
  padding: 15vw 8%;
}

.fonctionnements__bloc .titre1 {
  margin: 3vw 0;
}

.fonctionnements__liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurants__bloc {
  padding: 15vw 5%;
  background-color: #f1f1f1;
}

.restaurants__bloc .titre1 {
  margin: 3vw 0;
}

.restaurants__liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant__info__nom {
  margin: 1.5vw 0;
}

.restaurant i {
  font-size: 5vw;
}

.menu__image {
  object-fit: cover;
  object-position: center;
  height: 70vw;
}

.menu {
  padding: 0 5%;
  border-radius: 12vw 12vw 0 0;
  background-color: #f1f1f1;
  position: relative;
  bottom: 13vw;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5vw 0;
}
.menu__header i {
  padding-right: 6%;
  font-size: 6.5vw;
}

.btn {
  background-color: yellow;
}

/*# sourceMappingURL=style.css.map */
