
// BOUTON ACCUEIL

.btn{
    width: 60%;
    align-items: center;
    margin:3vw 20% 10vw 20%;
    padding: 3.8vw 3%;

      
    border-radius: 10vw;
    border-style: none;
    box-shadow:1px 1vw 1vw rgb(202, 202, 202);


    background:linear-gradient(to top left,$primary__color,$secondary__color);

}

// ETAPE FONCTIONNEMENT

.fonctionnement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   

    width: 90%;
    padding: 5vw 5%;
    margin: 3vw 3% 4vw 7% ;
    border-radius: 5vw;
    box-shadow:1px 1vw 1vw rgb(223, 222, 222);

    background-color: rgb(248, 248, 248);
    

    &--beige{
        background-color: rgb(241, 241, 241);
        }
    &--violet{
        background-color: lighten($color:$primary__color, $amount: 35);
        
        & i{
            color: $primary__color;
        }
    }

    &__numero{
        color: white;
        font-size: 3.5vw;
        background-color: $primary__color;
        padding: 3% 4.5%;
        clip-path: circle(40% at 50% 50% );
        text-align: center;
        margin: 0 4%;
        position: relative;
        left: -15.5%;
    }

    & i{
        font-size: 5vw;
        color:lighten($color: $grey__txt, $amount: 20) ;
        margin: 0 4%;
        position: relative;
        left: -15.5%;  
    }

 
    &__txt{
        margin: 0 0 0 4%;
        position: relative;
        left: -15.5%;
    }
}

// ANNONCE RESTAURANT
.restaurant{
    display: flex;
    flex-direction: column;

    margin: 3vw 0;
    border-radius: 4vw;
    box-shadow:1px 1vw 1vw rgb(233, 233, 233);
    background-color: $greylight__backgroung;
    cursor: pointer;
    
    &__image{
        object-fit: cover;
    object-position: center;
    border-radius: 4vw 4vw 0 0;
    height: 45vw;
    }

      &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2.5vw 5%;
    }

}

// PLAT
.plat{
    
    display: flex;
    flex-direction: row;
    justify-content:unsafe;
    align-items:center;

    width: 100%;
    margin: 4vw 0;
    padding-left:  3% ;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: $greylight__backgroung;
    border-radius: 4vw;
    box-shadow:1px 1vw 1vw rgb(218, 218, 218);
    

    // transition
   animation: apparition 0.8s ease-out 0.5s backwards;
   @for $i from 1 through 9{
       &--#{$i}{
           animation-delay: 0.1s*$i;
       }
   }

//    INFO
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        padding: 4% 0;

        white-space: nowrap;
        // overflow:hidden;
        text-overflow: ellipsis;
        transition: all 1s 0.3s ;
    }

    &__ingredients{
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;

        transition: all 1s 3s;
    
    }
    &__nom{
        white-space: nowrap;
        
    }

    &__prix{
        text-align: center;
        position: relative;
        top: 3vw;
        left: 7vw;
        padding: 0 2% 0 0;
        width: 10vw; 

        transform: translateX(0);
        transition: all 1s 0.3s ;  
    }

    &__ok{
        background-color:$tertiary__color;
        width: 0;
        transform: translateX(0);
        transition: all 1s 0.3s ;
        text-align: center;
        position: relative;
        left: 7vw;
    }

    & i{
        font-size: 1.5rem;
        color: $greylight__backgroung;      
        padding: 5.7vw 0;
                
        transform: rotate(360deg);
        transition: all 1s 0.3s;

    }

    // ANIMATION HOVER
    &:hover{
        i{           
        transform: rotate(0deg);
        }
        .plat__ok,.plat__prix{
            transform: translateX(-7vw);
        }
        .plat__ok{
            width: 20%;
        }
        

        .plat__info{
            width: 67%;
        }
        .plat__ingredients{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}






