*{
    font-family: 'Roboto', sans-serif;   
}

html{
    font-size: 4vw;

        @media (min-width: $breakpoint-desktop) {
        font-size: 1.5vw;
        }
}

a{
    text-decoration: none;
    color: black;
}


// ACCUEIL

.logo{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    text-align: center;
 
    &--smallwhite{
        color: $greylight__backgroung;
        font-size: 1.6rem;
        text-align: left;
    }
}

h1{font-family: 'Shrikhand', cursive;
    font-size: 1.8rem;
    text-transform:none;
    font-weight: normal;

}

.lieu{
    text-align: center;
    font-weight: bold;
    color: $grey__txt;
    font-size: 1rem;
}

.titre1{
    font-size: 1.5rem;
    font-weight: bolder;

    &__principal{
        text-align: center;
    }
    
}
.titre1__description{
    font-size: 1.2rem;
    font-weight:lighter;
    color:$grey__txt ;
    text-align: center;
}

// BOUTON

.btn{
    font-size: 1.1rem;
    color:$greylight__backgroung;    
}

// FONCTIONNEMENT

.fonctionnement__txt{
    font-size: 1rem;
    font-weight: bold;}


// RESTAURANT
.restaurant__info__nom{
    font-size: 1.2rem;
    font-weight: bold;

    @media (min-width: $breakpoint-desktop) {
        font-size: 1rem;
        }
}

.restaurant__info__lieu{
    font-size: 1.2rem;
    font-weight: 100;
}


// FOOTER

footer{
    & p,i{
        color:$grey__backgroung;
        font-size: 0.8rem;
    }
   
    
}

.footer__proposer,.footer__devenir{
    font-weight: bold;
}




// PAGE RESTAURANT

// Titre entrées, plats, desserts

.entrees__titre,.plats__titre,.desserts__titre{
    display: inline-block;
    text-transform: uppercase;
    border-style: none none solid none;
    border-color: $tertiary__color;
    font-size: 1.1rem;
    font-weight: 100;

    padding-bottom: 1vw;
    margin-top: 8vw;

}

// Nom plat

.plat__nom{
    font-size: 1.1rem;
    font-weight: 500;
}

.plat__ingredients{
    font-size: 0.9rem;;
    font-weight: 300;

}



.plat__prix{
    font-weight: bolder;
}