*{
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color:$grey__backgroung;}

html{
    font-size: 4vw;
}


// ACCUEIL

.logo{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    text-align: center;
 
    &--smallwhite{
        color: $greylight__backgroung;
        font-size: 5vw;
        text-align: left;
    }
}

h1{font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: normal;

}

.lieu{
    text-align: center;
    font-weight: bold;
    color: $grey__txt;
    font-size: 1rem;
}

.titre1{
    font-size: 1.5rem;
    font-weight: bolder;

    &__principal{
        text-align: center;
    }
    
}
.titre1__description{
    font-size: 1.2rem;
    font-weight:100;
    color:$grey__txt ;
    text-align: center;
}

// BOUTON

.btn{
    font-size: 1.1rem;
    color:$greylight__backgroung;    
}

// FONCTIONNEMENT

.fonctionnement__txt{
    font-size: 4vw;
    font-weight: bold;}


// RESTAURANT
.restaurant__info__nom{
    font-size: 5vw;
    font-weight: bold;
}

.restaurant__info__lieu{
    font-size: 5vw;
    font-weight: 100;
}


// FOOTER

footer{
    & p,i{
        color:$grey__backgroung;
        font-size: 3vw;
    }
   
    
}

.footer__proposer,.footer__devenir{
    font-weight: bold;
}




// PAGE RESTAURANT

// Titre entrées, plats, desserts

.entrees__titre,.plats__titre,.desserts__titre{
    display: inline-block;
    text-transform: uppercase;
    border-style: none none solid none;
    border-color: $tertiary__color;
    font-size: 1.1rem;

    padding-bottom: 1vw;
    margin-top: 8vw;

}

// Nom plat

.plat__nom{
    font-size: 1.2rem;
    font-weight: bolder;
}

.plat__prix{
    font-weight: bolder;}