*{
    font-family: 'Roboto', sans-serif;
}


// ACCUEIL

.logo{
    font-family: 'Shrikhand', cursive;
    font-size: 6vw;
    text-align: center;

    &--smallwhite{
        color: $greylight__backgroung;
        font-size: 5vw;
        text-align: left;
    }
}

.lieu{
    text-align: center;
    font-weight: bold;
    color: $grey__txt;
    font-size: 3.5vw;
}

.titre1{
    font-size: 5vw;
    font-weight: bolder;

    &__principal{
        text-align: center;
    }
    
}
.titre1__description{
    font-size: 4vw;
    font-weight:100;
    color:$grey__txt ;
    text-align: center;
}


// RESTAURANT
.restaurant__info__nom{
    font-size: 5vw;
    font-weight: bold;
}

.restaurant__info__lieu{
    font-size: 5vw;
    font-weight: 100;
}


// FOOTER

footer{
    & p,i{
        color:$grey__backgroung;
        font-size: 3vw;
    }
   
    
}

.footer__proposer,.footer__devenir{
    font-weight: bold;
}
