
// ACCUEIL

.lieu{
    padding: 4vw;
    background-color: $grey__backgroung;
    box-shadow: 10px 10px 10px black;

}

.presentation{
    background-color: rgb(243, 243, 243);
    padding-bottom: 6vw;
    padding: 5vw 0;
}

.titre1__principal{
    padding: 5vw 15% 2vw 15%;

}

.titre1__description{
    margin: 1.3vw 7% 4vw 7%;
}


// FONCTIONNEMENT

.fonctionnements__bloc{
    padding: 12vw 8% ;
    background-color: $greylight__backgroung;
}

.fonctionnements__bloc .titre1{
    margin: 0 0 4vw 0;
}

.fonctionnements__liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// RESTAURANT

.restaurants__bloc{
    padding: 13vw 5%;
    background-color: rgb(243, 243, 243);

}

.restaurants__bloc .titre1{
    margin: 2vw 0;}



.restaurants__liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restaurant__info__nom{
    margin: 1.5vw 0;
}

.restaurant i{
    font-size: 5vw;
    &:hover{
        font-size: 10vw;
        // background-color: linear-gradient(to top left,$primary__color,$secondary__color);
    }
}