
// ACCUEIL

.lieu{
    padding: 4vw;
    background-color: $grey__backgroung;
    box-shadow: 10px 10px 10px black;

    @media (min-width: $breakpoint-desktop) {
        padding: 2vw;
        }

}

.presentation{
    background-color: rgb(243, 243, 243);
    padding-bottom: 6vw;
    padding: 5vw 0;

    @media (min-width: $breakpoint-desktop) {
        padding: 0;
        }
}

.titre1__principal{
    padding: 5vw 15% 2vw 15%;

}

.titre1__description{
    margin: 1.3vw 7% 4vw 7%;
}


// FONCTIONNEMENT

.fonctionnements__bloc{
    padding: 12vw 8% ;
    background-color: $greylight__backgroung;
    @media (min-width: $breakpoint-desktop) {
        padding: 7vw 8%;
        }
}

.fonctionnements__bloc .titre1{
    margin: 0 0 4vw 0;
    @media (min-width: $breakpoint-desktop) {
        margin: 0 35% 1vw 35%;
        }
}

.fonctionnements__liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// RESTAURANT

.restaurants__bloc{
    padding: 13vw 5%;
    background-color: rgb(243, 243, 243);

    @media (min-width: $breakpoint-desktop) {
        padding: 7vw 5%;
        }

}

.restaurants__bloc .titre1{
    margin: 2vw 0;}



.restaurants__liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
        flex-wrap: wrap;
        
        }
}


