
.retour__accueil{
    position: absolute;
    top: 5vw;
    left: 6vw;

    color: $primary__color;
    font-size: 6vw;

    @media (min-width: $breakpoint-desktop) {
        font-size: 4vw;
        top: 3vw;
        }
}

.image--la__note__enchantee,.image--a__la__francaise,.image--a__la_palette__du__gout,.image--le__delice__des__sens{
    height: 70vw;
    background-size: cover;
    background-position: center;

    @media (min-width: $breakpoint-desktop) {
        height: 40vw;
        }
}

.image--la__note__enchantee{
    background-image: url(images/2.jpg);
}

.image--a__la__francaise{
    background-image: url(images/3.jpg);
}

.image--a__la_palette__du__gout{
    background-image: url(images/1.jpg);
}

.image--le__delice__des__sens{
    background-image: url(images/4.jpg);
}



article{
    padding: 0 5%;
    border-radius: 12vw 12vw 0 0;
    background-color: rgb(250, 250, 250);
    position: relative;
    bottom: 13vw;
}

.article__header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 7.5vw 0;

        @media (min-width: $breakpoint-desktop) {
            padding: 5vw 0 0 0;
        }
    }
     
    .restaurant__coeur--page {
        bottom: 3vw;

        @media (min-width: $breakpoint-desktop) {
            bottom: 1vw;
        }

        & i{
            // padding-right: 6%;
            font-size: 6.5vw;
            

            @media (min-width: $breakpoint-desktop) {
                font-size: 4vw;
            }
        }
    }

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
    
    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;


        .entrees,.plats,.desserts{
            width: 100%;
        }
        }

}



