footer{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(43, 43, 43);
    padding: 5%;

    
    & i{
        margin-right: 2%;
        width: 5%;

        @media (min-width: $breakpoint-desktop) {
            margin-right: 0;
            }
    }
    
}

.logo--smallwhite{
    margin-bottom: 3vw;
}

.footer__proposer,.footer__devenir{
    display: flex;
    margin: 1vw 0;
   
}
.footer__mentions{
    margin: 1.5vw 0 1vw 0;
}

