// LOADER


.loader__fond{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    z-index:2;
    animation: fond 1s linear 1 forwards;
  }
    
    @keyframes fond{
      0%{
        opacity:1;
      }
      
      99%{
        opacity:1;
      }
      
      100%{      
        opacity:0;
      }
    }
    
  
  .loader{
    
    width:10vw;
    height:10vw;
    // background-color:green;
    // margin:20%;
    z-index:3;
    
    
    border-radius:50%;
    border-top:$primary__color;
    border-left:rgb(194, 194, 194);
    border-right:rgb(194, 194, 194);
    border-bottom:rgb(194, 194, 194);
    border-width:10px;
    border-style:solid;
    
    
    position:absolute;
    top:40%;
    left:45%;
    // transform: translate(1000%,-50%);
    
    animation: rotation 1s linear 1 forwards;
  
  }
  
  @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
    99%{
          transform: rotate(360deg);
        opacity:1;
      
      
    }
      100% {
        opacity:0;
  /*       transform: translate(-1000px); */
        
      }
  }